:root{
  --light-green: #299;
  --dark-green: #277;
  --white: #fff;
  --dark-orange: #EF6815;
  --light-orange: #FFA500;
  
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
   
  background-image: url("../src/images/back2.jpg");
}